# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
venv/
.venv/
.env
.env.*

# Django
/media/
/staticfiles/

# Node / frontend
node_modules/
dist/
.vite/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
